<div class="row">
  <div class="col">
    <div class="card-result">
      <div class="card-result-head">
        <div>
          <h2>Station Name</h2>
          <p>Duration: xx mins - price ¥5,000</p>
          <i class="topright fas fa-heart"></i>
        </div>
      </div>
      <div class="card-spacing">
      </div>
      <div class="card-border">
        <ul class="list-group list-group-flush">
          <li class="list-group-item card-result-infos">
            <div><img class="align-self-center mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /></div>
            <div>
              <p>Restaurant name</p>
              <p>¥¥¥</p>
            </div>
          </li>
          <li class="list-group-item card-result-infos">
            <div><img class="align-self-center mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /></div>
            <div>
              <p>Restaurant name</p>
              <p>¥¥¥</p>
            </div>
          </li>
          <li class="list-group-item card-result-infos">
            <div><img class="align-self-center mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /></div>
            <div>
              <p>Restaurant name</p>
              <p>¥¥¥</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>