<div class="row">
  <div class="col">
    <div class="card-result">
      <div class="card-result-head">
        <div>
          <h2><%= result_station.station.name.capitalize %></h2>
          <% fee = result_station.fares.where(station: current_user.locations.find_by(meetle: @meetle).station) %>
          <p>Fee : <%= fee.first.fee %>짜 </p>
          <i class="topright fas fa-heart"></i>
        </div>
      </div>
      <div class="card-spacing">
      </div>
      <div class="card-border">
        <ul class="list-group list-group-flush">

          <% ResultStation.fetch_activity(result_station.station, @meetle.activity).each do |activity| %>
            <li class="list-group-item card-result-infos">
              <div>
                <img class="align-self-start mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              </div>
              <div>
                <p><%= activity %></p>
                <p>짜짜짜</p>
              </div>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
