<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
<<<<<<< HEAD
  <button class="btn-orange">Search</button>
</div>
=======
</div>
>>>>>>> 0159d258dd7c10fdfb354810a44ea1a7576fb699
