<<<<<<< HEAD
<div class="container">
  <div class="meetle-head">
    <%= image_tag "meetle-man.PNG", alt: "meetle man", width: 200 %>
    <h1>meetle.</h1>
  </div>
  <p>log in</p>
  <p>sign up</p>
  <p>jump in</p>
</div>
=======
<div class="justify-content-center mt-5">
  <div class="d-flex h-100 text-center">
    <div class="mx-auto">
      <div class="row">
        <h1 class="title col">meetle.</h1>
        <%= image_tag("question.jpg", :size => "116x175", class:"col-md-auto p-0") %>
      </div>
      <div class="title">
        <p>meet in the middle for...</p>
        <div class="title row">
          <p class="col" >Coffee</p>
          <p class="col" >Food</p>
          <p class="col" >Drinks</p>
          <p class="col" >Fun</p>
        </div>
        <!--  <input type="text" placeholder="Search...">
    <div class="search"></div> -->
      </div>
    </div>
  </div>
>>>>>>> eb702e8ed17d801c006755fef6f047c5bd5d4123
