<div class="justify-content-center mt-5">
  <div class="d-flex h-100 text-center">
    <div class="mx-auto">
      <div class="row">
        <h1 class="title col">meetle.</h1>
        <%= image_tag("question.jpg", :size => "116x175", class:"col-md-auto p-0") %>
      </div>
      <div class="title">
        <p>meet in the middle for...</p>
        <div class="title row">
          <p class="col" >Coffee</p>
          <p class="col" >Food</p>
          <p class="col" >Drinks</p>
          <p class="col" >Fun</p>
        </div>
        <!--  <input type="text" placeholder="Search...">
    <div class="search"></div> -->
      </div>
    </div>
  </div>