.btn-orange {
  color: $black;
  border: 5px solid #black;
  padding: 8px 24px;
  border-radius: 50px;
  background: $meetle-orange;
  transition: background 0.3s ease;
}

.btn-orange:hover {
  background-color: black;
  color: $meetle-orange;
  opacity: .8;
  text-shadow:


}
