.card-result {
  overflow: hidden;
  background: white;


}
.card-location {


}
.card-result img {
  height: 100%;
  width: 75px;
  border-radius: 25%;
}

.card-result h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-result p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-result .card-result-head {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: center;
  background-color: $meetle-gray;
  border-left:    3px solid ;
  border-right:  3px solid ;
}

.card-result .card-result-infos {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: center;
  background-color: white;
}

.card-result-infos .card-result-user {
  position: center;
  right: 16px;
  top: -20px;
  width: 40px;

}

.card-spacing {
  height: 12px;
  background-color: $body-bg;


}

.card-border {
  border:    3px solid ;

}

.card-result-head .topright {
  position: absolute;
  top: 9px;
  right: 30px;
  font-size: 18px;
  border: none;
  background: none;
  &:hover {
    color: $meetle-orange;
  }
}

.card-stations {
  border-radius: 5px;
  padding: 16px;


}

.card-stations h2 {
  margin-top: 5px;
  font-size: 32px;
  text-align: center;


}

.card-stations .card-stations-head {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: center;
  background-color: $meetle-gray;


}

.card-stations .card-stations-infos {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: center;
  background-color: white;


}

.card-result a {
  text-decoration: none;

}

.card-border-results {
  border-left:    3px solid ;
  border-right:  3px solid ;
  border-bottom: 3px solid ;
    height: 360px;
    display: block;
  width: 300px;
  display: block;

}

.card-result-head {
  border-left:    3px solid ;
  border-right:  3px solid ;
  border-top: 3px solid ;
  display: block;
  width: 300px;
  display: block;

}

.card-result-im {
  display: flex;
  justify-content: space-around;

justify-content: center;
  display: block;
  background-image: 100%;

}
