.card-result {
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.card-result img {
  height: 100%;
  width: 50px;
}

.card-result h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-result p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-result .card-result-head {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: center;
  background-color: $meetle-gray;
  border-style: solid;
}

.card-result .card-result-infos {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: center;
  background-color: white;
}

.card-result-infos .card-result-user {
  position: center;
  right: 16px;
  top: -20px;
  width: 40px;

}

.card-spacing {
  height: 12px;
  background-color: $body-bg;
}

.card-border {
  border-style: solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-result-head .topright {
  position: absolute;
  top: 9px;
  right: 30px;
  font-size: 18px;
}

.card-stations {
  border-style: solid;
  border-radius: 5px;
  padding: 16px;
}

.card-stations h2 {
  margin-top: 5px;
  font-size: 32px;
  text-align: center;
}

.card-stations .card-stations-head {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: center;
  background-color: $meetle-gray;
  border-style: solid;
}

.card-stations .card-stations-infos {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: center;
  background-color: white;
}

.card-result a {
  text-decoration: none;
}

